<div class="content row">
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Akan SD - Pipa PPR PN 20</th>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2"> Harga </td>
                </tr>
            </thead>
            <tbody>                
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2"</td>
                    <td>Rp 92,000 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>Rp 144,000 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1"</td>
                    <td>Rp 250,000 </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1-1/4"</td>
                    <td>Rp 380,000 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1-1/2"</td>
                    <td>Rp 548,000 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2"</td>
                    <td>Rp 950,000 </td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2-1/2"</td>
                    <td>Rp 1,360,000 </td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3"</td>
                    <td>Rp 1,980,000 </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4"</td>
                    <td>Rp 2,950,000 </td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>6"</td>
                    <td>Rp 6,899,000 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Akan SD - Pipa PPR PN 16</th>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2"</td>
                    <td>Rp 87,000 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>Rp 134,000 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1"</td>
                    <td>Rp 210,000 </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1-1/4"</td>
                    <td>Rp 335,000 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1-1/2"</td>
                    <td>Rp 528,000 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2"</td>
                    <td>Rp 840,000 </td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2-1/2"</td>
                    <td>Rp 1,193,000 </td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3"</td>
                    <td>Rp 1,827,000 </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4"</td>
                    <td>Rp 2,612,000 </td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>6"</td>
                    <td>Rp 5,591,000 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Akan SD - Pipa PPR PN 10</th>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2"> Harga </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2"</td>
                    <td>Rp 65,000 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>Rp 89,000 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1"</td>
                    <td>Rp 150,000 </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1-1/4"</td>
                    <td>Rp 230,000 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1-1/2"</td>
                    <td>Rp 360,000 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2"</td>
                    <td>Rp 590,000 </td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2-1/2"</td>
                    <td>Rp 840,000 </td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3"</td>
                    <td>Rp 1,200,000 </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4"</td>
                    <td>Rp 1,840,000 </td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>6"</td>
                    <td>Rp 4,280,000 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>