<div class="content row">
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td colspan="3">Pipa PPR Asialing PN 10</td>
                </tr>
                <tr>
                    <td colspan="2">UKURAN</td>
                    <td>HARGA</td>
                </tr>
                <tr>
                    <td>(mm)</td>
                    <td>INCH</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2”</td>
                    <td>Rp 60.600</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4”</td>
                    <td>Rp 83.000</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1”</td>
                    <td>Rp 134.500</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1-1/4”</td>
                    <td>Rp 204.500</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1-1/2”</td>
                    <td>Rp 316.700</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2”</td>
                    <td>Rp 516.000</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2-1/2”</td>
                    <td>Rp 751.400</td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3”</td>
                    <td>Rp 1.087.000</td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4”</td>
                    <td>Rp 1.616.400</td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>5″</td>
                    <td>Rp 2.090.400</td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>6″</td>
                    <td>Rp 3.423.000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td colspan="3">Pipa PPR Asialing PN 16</td>
                </tr>
                <tr>
                    <td colspan="2">UKURAN</td>
                    <td>HARGA</td>
                </tr>
                <tr>
                    <td>(mm)</td>
                    <td>INCH</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2”</td>
                    <td>Rp 77.900</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4”</td>
                    <td>Rp 118.800</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1”</td>
                    <td>Rp 202.200</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1-1/4”</td>
                    <td>Rp 315.500</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1-1/2”</td>
                    <td>Rp 492.600</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2”</td>
                    <td>Rp 774.800</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2-1/2”</td>
                    <td>Rp 1.102.000</td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3”</td>
                    <td>Rp 1.582.900</td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4”</td>
                    <td>Rp 2.371.000</td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>5″</td>
                    <td>Rp 2.838.700</td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>6″</td>
                    <td>Rp 5.006.000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td colspan="3">Pipa PPR Asialing PN 20</td>
                </tr>
                <tr>
                    <td colspan="2">UKURAN</td>
                    <td>HARGA</td>
                </tr>
                <tr>
                    <td>(mm)</td>
                    <td>INCH</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2”</td>
                    <td>Rp 85.700</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4”</td>
                    <td>Rp 131.800</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1”</td>
                    <td>Rp 228.700</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1-1/4”</td>
                    <td>Rp 347.000</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1-1/2”</td>
                    <td>Rp 514.800</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2”</td>
                    <td>Rp 855.200</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2-1/2”</td>
                    <td>Rp 1.235.600</td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3”</td>
                    <td>Rp 1.770.000</td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4”</td>
                    <td>Rp 2.671.700</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>