<div class="content row">
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Harga Pipa PPR Dizayn PN 16 <br> (untuk Air Dingin) - 4 Meter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2″ </td>
                    <td>Rp 76,100 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4″ </td>
                    <td>Rp 104,000 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1″ </td>
                    <td>Rp 193,100 </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1 1/4″ </td>
                    <td>Rp 281,500 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1 1/2″ </td>
                    <td>Rp 436,200 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2″ </td>
                    <td>Rp 693,600 </td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2 1/2″ </td>
                    <td>Rp 964,600 </td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3″ </td>
                    <td>Rp 1,372,800 </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4″ </td>
                    <td>Rp 2,115,100 </td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>5″ </td>
                    <td>Rp 3,003,000 </td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>6″ </td>
                    <td>Rp 6,692,400 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Harga Pipa PPR Dizayn PN 20 <br> (untuk Air Panas) - 4 Meter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2″ </td>
                    <td>Rp 102,700 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4″ </td>
                    <td>Rp 159,900 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1″ </td>
                    <td>Rp 258,700 </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1 1/4″ </td>
                    <td>Rp 403,000 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1 1/2″ </td>
                    <td>Rp 625,300 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2″ </td>
                    <td>Rp 997,100 </td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2 1/2″ </td>
                    <td>Rp 1,532,700 </td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3″ </td>
                    <td>Rp 2,282,800 </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4″ </td>
                    <td>Rp 3,394,300 </td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>5″ </td>
                    <td>Rp 4,804,800 </td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>6″ </td>
                    <td>Rp 8,859,500 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Harga Pipa PPR Dizayn PN 20</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">HI-TECH - 4 Meter</td>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2″ </td>
                    <td>Rp 109,200 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4″ </td>
                    <td>Rp 169,000 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1″ </td>
                    <td>Rp 274,300 </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1 1/4″ </td>
                    <td>Rp 425,100 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1 1/2″ </td>
                    <td>Rp 657,800 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2″ </td>
                    <td>Rp 1,050,400 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="content row">
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Harga Pipa PPR Dizayn PN 32</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">HI-TECH 2 Oxy Combi Plus- 4 Meter</td>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2″ </td>
                    <td>Rp 218,400 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4″ </td>
                    <td>Rp 300,300 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1″ </td>
                    <td>Rp 496,600 </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1 1/4″ </td>
                    <td>Rp 781,300 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1 1/2″ </td>
                    <td>Rp 1,111,500 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2″ </td>
                    <td>Rp 1,652,300 </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Harga Pipa PPR Dizayn PN 25</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">Oxy Combi Plus- 4 Meter</td>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2″ </td>
                    <td>Rp    2,402,400 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4″ </td>
                    <td>Rp    3,903,900 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1″ </td>
                    <td>Rp    7,807,800 </td>
                </tr>
                <tr>
                    <th colspan="3">Harga Pipa PPR Dizayn PN 20</td>
                </tr>
                <tr>
                    <td colspan="3">UV Protection- 4 Meter</td>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>1/2″ </td>
                    <td>Rp    180,700 </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>3/4″ </td>
                    <td>Rp    300,300 </td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>1″ </td>
                    <td>Rp    510,900 </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">Harga Pipa PPR Dizayn PN 25</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">UV Protection- 4 Meter</td>
                </tr>
                <tr>
                    <td colspan="2">Ukuran</td>
                    <td rowspan="2">Harga</td>
                </tr>
                <tr>
                    <td>mm</td>
                    <td>inch</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>1 1/4″ </td>
                    <td>Rp    871,000 </td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>1 1/2″ </td>
                    <td>Rp    1,238,900 </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>2″ </td>
                    <td>Rp    1,862,900 </td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>2 1/2″ </td>
                    <td>Rp    2,666,300 </td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>3″ </td>
                    <td>Rp    4,355,000 </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>4″ </td>
                    <td>Rp    8,634,600 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
