{{ partial "header-default" . }}
<div class="section section-about section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <h3 class="center">Download Katalog &amp; Sertifikat Pipa PPR Rucika Green (Wavin Tigris)</h3>
                <a href="{{ .Site.BaseURL }}downloads/rucika-wavin-tigris/brosur-rucika-green.pdf" target="_blank" class="btn btn-default btn-block">
                    Brosur/Katalog Pipa PPR Rucika Green
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <h3 class="center">Download Katalog &amp; Sertifikat Pipa PPR Asialing</h3>
                <a href="{{ .Site.BaseURL }}downloads/asialing/katalog-asialing.pdf" target="_blank" class="btn btn-default btn-block">
                    Brosur/Katalog Pipa PPR Asialing
                </a>
                <a href="{{ .Site.BaseURL }}downloads/asialing/hasil-uji-hidrostatis-BPPT-asialing.pdf" target="_blank" class="btn btn-default btn-block">
                    Hasil Uji Hidrostatis BPPT
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <h3 class="center">Download Katalog &amp; Sertifikat Pipa PPR Dizayn</h3>
            </div>
        </div>
    </div>
</div>
{{ partial "footer" . }}