{{ partial "header-default" . }}
<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <h1 class="heading-section center">Harga Sambungan/Fitting Pipa PPR Dizayn</h1>
            {{ partial "kontak" . }}
            <div class="col-md-6 col-sm-12 col-xs-12">
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Elbow / Knee 90°</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20</td>
                            <td>1/2″</td>
                            <td>Rp 7.300</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4″</td>
                            <td>Rp 9.700</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1″</td>
                            <td>Rp 14.600</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4″</td>
                            <td>Rp 31.500</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2″</td>
                            <td>Rp 50.900</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2″</td>
                            <td>Rp 77.500</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2″</td>
                            <td>Rp 179.100</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3″</td>
                            <td>Rp 302.500</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4″</td>
                            <td>Rp 435.600</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5″</td>
                            <td>Rp 556.600</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6″</td>
                            <td>Rp 1.210.000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Coupler / Socket</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20</td>
                            <td>1/2″</td>
                            <td>Rp 6.100</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4″</td>
                            <td>Rp 7.300</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1″</td>
                            <td>Rp 10.700</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4″</td>
                            <td>Rp 21.800</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2″</td>
                            <td>Rp 36.300</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2″</td>
                            <td>Rp 58.100</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2″</td>
                            <td>Rp 94.400</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3″</td>
                            <td>Rp 193.600</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4″</td>
                            <td>Rp 259.000</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5″</td>
                            <td>Rp 474.400</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6″</td>
                            <td>Rp 4.496.100</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">REDUCER MALE / FEMALE (Male Connection : need Coupler)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2"></td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25×20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 7.300</td>
                        </tr>
                        <tr>
                            <td>32×20</td>
                            <td>1 x 1/2</td>
                            <td>Rp 8.500</td>
                        </tr>
                        <tr>
                            <td>32×25</td>
                            <td>1 x 3/4</td>
                            <td>Rp 8.500</td>
                        </tr>
                        <tr>
                            <td>40×20</td>
                            <td>1 1/4 x 1/2</td>
                            <td>Rp 18.200</td>
                        </tr>
                        <tr>
                            <td>40×25</td>
                            <td>1 1/4 x 3/4</td>
                            <td>Rp 18.200</td>
                        </tr>
                        <tr>
                            <td>40×32</td>
                            <td>1 1/4 x 1</td>
                            <td>Rp 18.200</td>
                        </tr>
                        <tr>
                            <td>50×20</td>
                            <td>1 1/2 x 1/2</td>
                            <td>Rp 30.300</td>
                        </tr>
                        <tr>
                            <td>50×25</td>
                            <td>1 1/2 x 3/4</td>
                            <td>Rp 30.300</td>
                        </tr>
                        <tr>
                            <td>50×32</td>
                            <td>1 1/2 x 1</td>
                            <td>Rp 30.300</td>
                        </tr>
                        <tr>
                            <td>50×40</td>
                            <td>1 1/2 x 1 1/4</td>
                            <td>Rp 30.300</td>
                        </tr>
                        <tr>
                            <td>*63×25</td>
                            <td>2 x 3/4</td>
                            <td>Rp 43.600</td>
                        </tr>
                        <tr>
                            <td>63×32</td>
                            <td>2 x 1</td>
                            <td>Rp 43.600</td>
                        </tr>
                        <tr>
                            <td>63×40</td>
                            <td>2 x 1 1/4</td>
                            <td>Rp 43.600</td>
                        </tr>
                        <tr>
                            <td>63×50</td>
                            <td>2 x 1 1/2</td>
                            <td>Rp 43.600</td>
                        </tr>
                        <tr>
                            <td>75×50</td>
                            <td>2 1/2 x 1 1/2</td>
                            <td>Rp 72.600</td>
                        </tr>
                        <tr>
                            <td>75×63</td>
                            <td>2 1/2 x 2</td>
                            <td>Rp 72.600</td>
                        </tr>
                        <tr>
                            <td>90×63</td>
                            <td>3 x 2</td>
                            <td>Rp 157.300</td>
                        </tr>
                        <tr>
                            <td>90×75</td>
                            <td>3 x 2 1/2</td>
                            <td>Rp 157.300</td>
                        </tr>
                        <tr>
                            <td>110×63</td>
                            <td>4 x 2</td>
                            <td>Rp 242.000</td>
                        </tr>
                        <tr>
                            <td>110×75</td>
                            <td>4 x 2 1/2</td>
                            <td>Rp 242.000</td>
                        </tr>
                        <tr>
                            <td>110×90</td>
                            <td>4 x 3</td>
                            <td>Rp 242.000</td>
                        </tr>
                        <tr>
                            <td>110×90 F</td>
                            <td>4 x 3 F</td>
                            <td>Rp 242.000</td>
                        </tr>
                        <tr>
                            <td>125×110</td>
                            <td>5 x 4</td>
                            <td>Rp 302.500</td>
                        </tr>
                        <tr>
                            <td>160×110</td>
                            <td>6 x 4</td>
                            <td>Rp 471.900</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Elbow /Knee 45°</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20</td>
                            <td>1/2″</td>
                            <td>Rp 7.300</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4″</td>
                            <td>Rp 9.700</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1″</td>
                            <td>Rp 14.600</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4″</td>
                            <td>Rp 31.500</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2″</td>
                            <td>Rp 50.900</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2″</td>
                            <td>Rp 77.500</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2″</td>
                            <td>Rp 169.400</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3″</td>
                            <td>Rp 265.000</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4″</td>
                            <td>Rp 430.800</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5″</td>
                            <td>–</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6″</td>
                            <td>Rp 2.313.600</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Equal Tee</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20</td>
                            <td>1/2″</td>
                            <td>Rp 8.500</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4″</td>
                            <td>Rp 10.900</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1″</td>
                            <td>Rp 15.800</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4″</td>
                            <td>Rp 36.300</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2″</td>
                            <td>Rp 58.100</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2″</td>
                            <td>Rp 89.600</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2″</td>
                            <td>Rp 157.300</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3″</td>
                            <td>Rp 314.600</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4″</td>
                            <td>Rp 484.000</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5″</td>
                            <td>Rp 605.000</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6″</td>
                            <td>Rp 968.000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Reduced Tee</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25 x 20 x 20</td>
                            <td>3/4 x 1/2 x 1/2</td>
                            <td>Rp 9.700</td>
                        </tr>
                        <tr>
                            <td>25 x 20 x25</td>
                            <td>3/4 x 1/2 x 3/4</td>
                            <td>Rp 12.100</td>
                        </tr>
                        <tr>
                            <td>32 x 20 x 20</td>
                            <td>1 x 1/2 x 1/2</td>
                            <td>Rp 19.400</td>
                        </tr>
                        <tr>
                            <td>32 x 20 x 32</td>
                            <td>1 x 1/2 x 1</td>
                            <td>Rp 19.400</td>
                        </tr>
                        <tr>
                            <td>32 x 25 x 20</td>
                            <td>1 x 3/4 x 1/2</td>
                            <td>Rp 19.400</td>
                        </tr>
                        <tr>
                            <td>32 x 25 x 32</td>
                            <td>1 x 3/4 x 1</td>
                            <td>Rp 19.400</td>
                        </tr>
                        <tr>
                            <td>40 x 20 x 40</td>
                            <td>1 1/4 x 1/2 x 1 1/4</td>
                            <td>Rp 38.800</td>
                        </tr>
                        <tr>
                            <td>40 x 25 x 40</td>
                            <td>1 1/4 x 3/4 x 1 1/4</td>
                            <td>Rp 38.800</td>
                        </tr>
                        <tr>
                            <td>40 x 32 x 40</td>
                            <td>1 1/4 x 1 x 1 1/4</td>
                            <td>Rp 38.800</td>
                        </tr>
                        <tr>
                            <td>50 x 20 x 50</td>
                            <td>1 1/2 x 1/2 x 1 1/2</td>
                            <td>Rp 65.400</td>
                        </tr>
                        <tr>
                            <td>50 x 25 x 50</td>
                            <td>1 1/2 x 3/4 x 1 1/2</td>
                            <td>Rp 65.400</td>
                        </tr>
                        <tr>
                            <td>50 x 32 x 50</td>
                            <td>1 1/2 x 1 x 1 1/2</td>
                            <td>Rp 65.400</td>
                        </tr>
                        <tr>
                            <td>50 x 40 x 50</td>
                            <td>1 1/2 x 1 1/4 x 1 1/2</td>
                            <td>Rp 65.400</td>
                        </tr>
                        <tr>
                            <td>50 x 32 x 40</td>
                            <td>1 1/2 x 1 x 1 1/4</td>
                            <td>Rp 65.400</td>
                        </tr>
                        <tr>
                            <td>63 x 32 x 50</td>
                            <td>2 x 1 x 1 1/2</td>
                            <td>Rp 113.800</td>
                        </tr>
                        <tr>
                            <td>63 x 32 x 63</td>
                            <td>2 x 1 x 2</td>
                            <td>Rp 113.800</td>
                        </tr>
                        <tr>
                            <td>63 x 40 x 63</td>
                            <td>2 x 1 1/4 x 2</td>
                            <td>Rp 113.800</td>
                        </tr>
                        <tr>
                            <td>63 x 50 x 63</td>
                            <td>2 x 1 1/2 x 2</td>
                            <td>Rp 113.800</td>
                        </tr>
                        <tr>
                            <td>75 x 50 x 75</td>
                            <td>2 1/2 x 1 1/2 x 2 1/2</td>
                            <td>Rp 266.200</td>
                        </tr>
                        <tr>
                            <td>75 x 63 x 75</td>
                            <td>2 1/2 x 2 x 2 1/2</td>
                            <td>Rp 278.300</td>
                        </tr>
                        <tr>
                            <td>90 x 63 x 90</td>
                            <td>3 x 2 x 3</td>
                            <td>Rp 617.000</td>
                        </tr>
                        <tr>
                            <td>90 x 75 x 90</td>
                            <td>3 x 2 1/2 x 3</td>
                            <td>Rp 641.300</td>
                        </tr>
                        <tr>
                            <td>110 x 63 x 110</td>
                            <td>4 x 2 x 4</td>
                            <td>Rp 883.300</td>
                        </tr>
                        <tr>
                            <td>110 x 75 x 110</td>
                            <td>4 x 2 1/2 x 4</td>
                            <td>Rp 907.500</td>
                        </tr>
                        <tr>
                            <td>110 x 90 x 110</td>
                            <td>4 x 3 x 4</td>
                            <td>Rp 931.700</td>
                        </tr>
                        <tr>
                            <td>160 x 110 x 160</td>
                            <td>6 x 4 x 6</td>
                            <td>Rp 1.331.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}