{{ partial "header-default" . }}
<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <h1 class="heading-section center">Harga Sambungan/Fitting Pipa PPR Rucika Green (Wavin Tigris)</h1>
            {{ partial "kontak" . }}

            <div class="col-md-6 col-sm-12 col-xs-12">
                
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Elbow 90° (Knee 90°)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20</td>
                            <td>1/2</td>
                            <td>Rp 7.150,-</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4</td>
                            <td>Rp 9.350,-</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1</td>
                            <td>Rp 10.670,-</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4</td>
                            <td>Rp 22.220,-</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2</td>
                            <td>Rp 35.530,-</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2</td>
                            <td>Rp 60.720,-</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2</td>
                            <td>Rp 165.440,-</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3</td>
                            <td>Rp 328.350,-</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4</td>
                            <td>Rp 394.020,-</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5</td>
                            <td>Rp 1.393.700,-</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6</td>
                            <td>Rp 1.587.850,-</td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Elbow 45° (Knee 45°)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20</td>
                            <td>1/2</td>
                            <td>Rp 6.160,-</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4</td>
                            <td>Rp 8.910,-</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1</td>
                            <td>Rp 12.100,-</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4</td>
                            <td>Rp 22.880,-</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2</td>
                            <td>Rp 40.810,-</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2</td>
                            <td>Rp 85.580,-</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2</td>
                            <td>Rp 174.900,-</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3</td>
                            <td>Rp 297.110,-</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4</td>
                            <td>Rp 906.510,-</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5</td>
                            <td>Rp 1.308.560,-</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6</td>
                            <td>Rp 1.397.880,-</td>
                        </tr>
                    </tbody>
                </table>
                
                
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Elbow 90° Male Threaded (Knee Drat Luar)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20 x 20</td>
                            <td>1/2</td>
                            <td>Rp 48.400,-</td>
                        </tr>
                        <tr>
                            <td>20 x 25</td>
                            <td>1/2 x 3/4</td>
                            <td>Rp 81.950,-</td>
                        </tr>
                        <tr>
                            <td>25 x 20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 52.800,-</td>
                        </tr>
                        <tr>
                            <td>25 x 25</td>
                            <td>3/4</td>
                            <td>Rp 74.580,-</td>
                        </tr>
                        <tr>
                            <td>32 x 25</td>
                            <td>1 x 3/4</td>
                            <td>Rp 98.890,-</td>
                        </tr>
                        <tr>
                            <td>32 x 32</td>
                            <td>1</td>
                            <td>Rp 114.510,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Elbow 90° Female Threaded (Knee Drat Dalam)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20 x 20</td>
                            <td>1/2</td>
                            <td>Rp 33.770,-</td>
                        </tr>
                        <tr>
                            <td>20 x 25</td>
                            <td>1/2 x 3/4</td>
                            <td>Rp 58.410,-</td>
                        </tr>
                        <tr>
                            <td>25 x 20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 43.670,-</td>
                        </tr>
                        <tr>
                            <td>25 x 25</td>
                            <td>3/4</td>
                            <td>Rp 51.150,-</td>
                        </tr>
                        <tr>
                            <td>32 x 25</td>
                            <td>1 x 3/4</td>
                            <td>Rp 75.680,-</td>
                        </tr>
                        <tr>
                            <td>32 x 32</td>
                            <td>1</td>
                            <td>Rp 107.250,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Coupler / Socket</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20</td>
                            <td>1/2</td>
                            <td>Rp 4.510,-</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4</td>
                            <td>Rp 4.950,-</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1</td>
                            <td>Rp 6.710,-</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4</td>
                            <td>Rp 13.090,-</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2</td>
                            <td>Rp 25.960,-</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2</td>
                            <td>Rp 41.250,-</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2</td>
                            <td>Rp 98.670,-</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3</td>
                            <td>Rp 119.680,-</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4</td>
                            <td>Rp 176.220,-</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5</td>
                            <td>Rp 780.230,-</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6</td>
                            <td>Rp 882.530,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Male Thread Joint (Socket Drat Luar)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20 x 20</td>
                            <td>1/2</td>
                            <td>Rp 40.150,-</td>
                        </tr>
                        <tr>
                            <td>20 x 25</td>
                            <td>1/2 x 3/4</td>
                            <td>Rp 60.830,-</td>
                        </tr>
                        <tr>
                            <td>25 x 20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 40.370,-</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4</td>
                            <td>Rp 56.430,-</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1</td>
                            <td>Rp 104.390,-</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4</td>
                            <td>Rp 199.980,-</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2</td>
                            <td>Rp 314.820,-</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2</td>
                            <td>Rp 478.170,-</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2</td>
                            <td>Rp 882.310,-</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3</td>
                            <td>Rp 1.382.810,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Female Thread Joint (Socket Drat Dalam)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20 x 20</td>
                            <td>1/2</td>
                            <td>Rp 31.350,-</td>
                        </tr>
                        <tr>
                            <td>20 x 25</td>
                            <td>1/2 x 3/4</td>
                            <td>Rp 45.870,-</td>
                        </tr>
                        <tr>
                            <td>25 x 20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 33.880,-</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4</td>
                            <td>Rp 41.470,-</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1</td>
                            <td>Rp 87.230,-</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4</td>
                            <td>Rp 233.200,-</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2</td>
                            <td>Rp 237.820,-</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2</td>
                            <td>Rp 435.490,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Cap / Dop</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>mm</td>
                            <td>inch</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16</td>
                            <td>1/4″</td>
                            <td>Rp 5.080</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>1/2″</td>
                            <td>Rp 3.520</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4″</td>
                            <td>Rp 4.290</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1″</td>
                            <td>Rp 7.480</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4″</td>
                            <td>Rp 34.760</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2″</td>
                            <td>Rp 38.060</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2″</td>
                            <td>Rp 53.680</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2″</td>
                            <td>Rp 214.060</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3″</td>
                            <td>Rp 820.160</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4″</td>
                            <td>Rp 823.680</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6″</td>
                            <td>Rp 2.424.950</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Equal Tee</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20</td>
                            <td>1/2</td>
                            <td>Rp 7.150,-</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4</td>
                            <td>Rp 8.960,-</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1</td>
                            <td>Rp 12.760,-</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4</td>
                            <td>Rp 27.280,-</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2</td>
                            <td>Rp 44.330,-</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2</td>
                            <td>Rp 106.590,-</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2</td>
                            <td>Rp 169.950,-</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3</td>
                            <td>Rp 310.970,-</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4</td>
                            <td>Rp 389.400,-</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5</td>
                            <td>Rp 1.546.270,-</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6</td>
                            <td>Rp 1.984.510,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Reduced Tee</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>25 x 20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 11.990,-</td>
                        </tr>
                        <tr>
                            <td>32 x 20</td>
                            <td>1 x 1/2</td>
                            <td>Rp 13.750,-</td>
                        </tr>
                        <tr>
                            <td>32 x 25</td>
                            <td>1 x 3/4</td>
                            <td>Rp 14.630,-</td>
                        </tr>
                        <tr>
                            <td>40 x 20</td>
                            <td>1 1/4 x 1/2</td>
                            <td>Rp 29.480,-</td>
                        </tr>
                        <tr>
                            <td>40 x 25</td>
                            <td>1 1/4 x 3/4</td>
                            <td>Rp 30.250,-</td>
                        </tr>
                        <tr>
                            <td>40 x 32</td>
                            <td>1 1/4 x 1</td>
                            <td>Rp 37.950,-</td>
                        </tr>
                        <tr>
                            <td>50 x 25</td>
                            <td>1 1/2 x 3/4</td>
                            <td>Rp 72.710,-</td>
                        </tr>
                        <tr>
                            <td>50 x 32</td>
                            <td>1 1/2 x 1</td>
                            <td>Rp 50.930,-</td>
                        </tr>
                        <tr>
                            <td>50 x 40</td>
                            <td>1 1/2 x 1 1/4</td>
                            <td>Rp 65.450,-</td>
                        </tr>
                        <tr>
                            <td>63 x 25</td>
                            <td>2 x 3/4</td>
                            <td>Rp 109.120,-</td>
                        </tr>
                        <tr>
                            <td>63 x 32</td>
                            <td>2 x 1</td>
                            <td>Rp 86.570,-</td>
                        </tr>
                        <tr>
                            <td>63 x 40</td>
                            <td>2 x 1 1/4</td>
                            <td>Rp 103.620,-</td>
                        </tr>
                        <tr>
                            <td>63 x 50</td>
                            <td>2 x 1 1/2</td>
                            <td>Rp 108.020,-</td>
                        </tr>
                        <tr>
                            <td>75 x 63</td>
                            <td>2 1/2 x 2</td>
                            <td>Rp 196.240,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Female Threaded Tee (Tee Drat Dalam)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20 x 20</td>
                            <td>1/2</td>
                            <td>Rp 38.390,-</td>
                        </tr>
                        <tr>
                            <td>20 x 25</td>
                            <td>1/2 x 3/4</td>
                            <td>Rp 87.120,-</td>
                        </tr>
                        <tr>
                            <td>25 x 20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 48.620,-</td>
                        </tr>
                        <tr>
                            <td>25 x 25</td>
                            <td>3/4</td>
                            <td>Rp 55.880,-</td>
                        </tr>
                        <tr>
                            <td>32 x 25</td>
                            <td>1 x 3/4</td>
                            <td>Rp 72.710,-</td>
                        </tr>
                        <tr>
                            <td>32 x 32</td>
                            <td>1</td>
                            <td>Rp 117.370,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Male Threaded Tee (Tee Drat Luar)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20 x 20</td>
                            <td>1/2</td>
                            <td>Rp 53.350,-</td>
                        </tr>
                        <tr>
                            <td>20 x 25</td>
                            <td>1/2 x 3/4</td>
                            <td>Rp 72.930,-</td>
                        </tr>
                        <tr>
                            <td>25 x 20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 55.880,-</td>
                        </tr>
                        <tr>
                            <td>25 x 25</td>
                            <td>3/4</td>
                            <td>Rp 68.530,-</td>
                        </tr>
                        <tr>
                            <td>32 x 32</td>
                            <td>1</td>
                            <td>Rp 194.590,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">REDUCER MALE / FEMALE (Male Connection : need Coupler)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2"></td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                        <tr>
                            <td>25×20</td>
                            <td>3/4 x 1/2</td>
                            <td>Rp 4.950,-</td>
                        </tr>
                        <tr>
                            <td>32×20</td>
                            <td>1 x 1/2</td>
                            <td>Rp 6.930,-</td>
                        </tr>
                        <tr>
                            <td>32×25</td>
                            <td>1 x 3/4</td>
                            <td>Rp 8.910,-</td>
                        </tr>
                        <tr>
                            <td>40×20</td>
                            <td>1 1/4 x 1/2</td>
                            <td>Rp 13.090,-</td>
                        </tr>
                        <tr>
                            <td>40×25</td>
                            <td>1 1/4 x 3/4</td>
                            <td>Rp 13.090,-</td>
                        </tr>
                        <tr>
                            <td>40×32</td>
                            <td>1 1/4 x 1</td>
                            <td>Rp 15.510,-</td>
                        </tr>
                        <tr>
                            <td>50×25</td>
                            <td>1 1/2 x 3/4</td>
                            <td>Rp 35.970,-</td>
                        </tr>
                        <tr>
                            <td>50×32</td>
                            <td>1 1/2 x 1</td>
                            <td>Rp 23.430,-</td>
                        </tr>
                        <tr>
                            <td>50×40</td>
                            <td>1 1/2 x 1 1/4</td>
                            <td>Rp 23.430,-</td>
                        </tr>
                        <tr>
                            <td>*63×25</td>
                            <td>2 x 3/4</td>
                            <td>Rp 58.190,-</td>
                        </tr>
                        <tr>
                            <td>63×32</td>
                            <td>2 x 1</td>
                            <td>Rp 23.430,-</td>
                        </tr>
                        <tr>
                            <td>63×40</td>
                            <td>2 x 1 1/4</td>
                            <td>Rp 40.480,-</td>
                        </tr>
                        <tr>
                            <td>63×50</td>
                            <td>2 x 1 1/2</td>
                            <td>Rp 40.480,-</td>
                        </tr>
                        <tr>
                            <td>75×40</td>
                            <td>2 1/2 x 1 1/4</td>
                            <td>Rp 184.910,-</td>
                        </tr>
                        <tr>
                            <td>75×50</td>
                            <td>2 1/2 x 1 1/2</td>
                            <td>Rp 79.750,-</td>
                        </tr>
                        <tr>
                            <td>75×63</td>
                            <td>2 1/2 x 2</td>
                            <td>Rp 68.420,-</td>
                        </tr>
                        <tr>
                            <td>90×63</td>
                            <td>3 x 2</td>
                            <td>Rp 91.190,-</td>
                        </tr>
                        <tr>
                            <td>90×75</td>
                            <td>3 x 2 1/2</td>
                            <td>Rp 103.620,-</td>
                        </tr>
                        <tr>
                            <td>110×75</td>
                            <td>4 x 2 1/2</td>
                            <td>Rp 194.040,-</td>
                        </tr>
                        <tr>
                            <td>110×90</td>
                            <td>4 x 3</td>
                            <td>Rp 241.670,-</td>
                        </tr>
                        <tr>
                            <td>125×110</td>
                            <td>5 x 4</td>
                            <td>Rp 855.470,-</td>
                        </tr>
                        <tr>
                            <td>160×125</td>
                            <td>6 x 5</td>
                            <td>Rp 876.810,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Flange Adapter / Stub End</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>40</td>
                            <td>1 1/4</td>
                            <td>Rp 30.690,-</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2</td>
                            <td>Rp 56.100,-</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2</td>
                            <td>Rp 57.860,-</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>2 1/2</td>
                            <td>Rp 129.470,-</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>3</td>
                            <td>Rp 198.440,-</td>
                        </tr>
                        <tr>
                            <td>110</td>
                            <td>4</td>
                            <td>Rp 248.270,-</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>5</td>
                            <td>Rp 689.260,-</td>
                        </tr>
                        <tr>
                            <td>160</td>
                            <td>6</td>
                            <td>Rp 935.660,-</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Straight Way Valve / Gate Valve</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>mm</td>
                            <td>inch</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20</td>
                            <td>1/2″</td>
                            <td>Rp 120.670</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4″</td>
                            <td>Rp 193.270</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1″</td>
                            <td>Rp 271.920</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4″</td>
                            <td>Rp 410.080</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2″</td>
                            <td>Rp 496.980</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2″</td>
                            <td>Rp 862.510</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Ball Tap / Ball Valve</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>mm</td>
                            <td>inch</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16</td>
                            <td>1/4″</td>
                            <td>Rp 135.620</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>1/2″</td>
                            <td>Rp 100.760</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>3/4″</td>
                            <td>Rp 132.770</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>1″</td>
                            <td>Rp 203.610</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1 1/4″</td>
                            <td>Rp 368.500</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>1 1/2″</td>
                            <td>Rp 528.440</td>
                        </tr>
                        <tr>
                            <td>63</td>
                            <td>2″</td>
                            <td>Rp 660.220</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover center">
                    <thead>
                        <tr>
                            <td colspan="3">Metal Reducer With Cap &amp; Nut</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ukuran</td>
                            <td rowspan="2">Harga</td>
                        </tr>
                        <tr>
                            <td>(mm)</td>
                            <td>(inch)</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>20 x 20</td>
                            <td>1/2</td>
                            <td>Rp 49.170,-</td>
                        </tr>
                        <tr>
                            <td>20 x 25</td>
                            <td>1/2 x 3/4</td>
                            <td>Rp 69.850,-</td>
                        </tr>
                        <tr>
                            <td>20 x 32</td>
                            <td>1/2 x 1</td>
                            <td>Rp 146.960,-</td>
                        </tr>
                        <tr>
                            <td>25 x 32</td>
                            <td>3/4 x 1</td>
                            <td>Rp 146.960,-</td>
                        </tr>
                        <tr>
                            <td>32 x 40</td>
                            <td>1 x 1 1/4</td>
                            <td>Rp 304.590,-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}