{{ partial "header-default" . }}
<div class="section section-about section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <h3 class="center">Download Katalog &amp; Sertifikat Pipa PPR Rucika Green (Wavin Tigris)</h3>
                <a href="#" class="btn btn-default btn-block">
                    Brosur/Katalog Pipa PPR Rucika Green
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <h3 class="center">Download Katalog &amp; Sertifikat Pipa PPR Asialing</h3>
                <a href="#" class="btn btn-default btn-block">
                    Brosur/Katalog Pipa PPR Asialing
                </a>
                <a href="#" class="btn btn-default btn-block">
                    Hasil Uji Hidrostatis BPPT
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <h3 class="center">Download Katalog &amp; Sertifikat Pipa PPR Dizayn</h3>
                <a href="#" class="btn btn-default btn-block">
                    Brosur/Katalog Pipa PPR Dizayn
                </a>
            </div>
        </div>
    </div>
</div>
{{ partial "footer" . }}