<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Ball Tap / Ball Valve</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>mm</td>
            <td>inch</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>16</td>
            <td>1/4″</td>
            <td>Rp 135.620</td>
        </tr>
        <tr>
            <td>20</td>
            <td>1/2″</td>
            <td>Rp 100.760</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4″</td>
            <td>Rp 132.770</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1″</td>
            <td>Rp 203.610</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4″</td>
            <td>Rp 368.500</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2″</td>
            <td>Rp 528.440</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2″</td>
            <td>Rp 660.220</td>
        </tr>
    </tbody>
</table>