<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Cap / Dop</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>mm</td>
            <td>inch</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>16</td>
            <td>1/4″</td>
            <td>Rp 5.080</td>
        </tr>
        <tr>
            <td>20</td>
            <td>1/2″</td>
            <td>Rp 3.520</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4″</td>
            <td>Rp 4.290</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1″</td>
            <td>Rp 7.480</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4″</td>
            <td>Rp 34.760</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2″</td>
            <td>Rp 38.060</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2″</td>
            <td>Rp 53.680</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2″</td>
            <td>Rp 214.060</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3″</td>
            <td>Rp 820.160</td>
        </tr>
        <tr>
            <td>110</td>
            <td>4″</td>
            <td>Rp 823.680</td>
        </tr>
        <tr>
            <td>160</td>
            <td>6″</td>
            <td>Rp 2.424.950</td>
        </tr>
    </tbody>
</table>