<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Elbow 45° (Knee 45°)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20</td>
            <td>1/2</td>
            <td>Rp 6.160,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 8.910,-</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 12.100,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 22.880,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 40.810,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 85.580,-</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2</td>
            <td>Rp 174.900,-</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3</td>
            <td>Rp 297.110,-</td>
        </tr>
        <tr>
            <td>110</td>
            <td>4</td>
            <td>Rp 906.510,-</td>
        </tr>
        <tr>
            <td>125</td>
            <td>5</td>
            <td>Rp 1.308.560,-</td>
        </tr>
        <tr>
            <td>160</td>
            <td>6</td>
            <td>Rp 1.397.880,-</td>
        </tr>
    </tbody>
</table>