<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Elbow 90° (Knee 90°)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>1/2</td>
            <td>Rp 7.150,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 9.350,-</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 10.670,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 22.220,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 35.530,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 60.720,-</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2</td>
            <td>Rp 165.440,-</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3</td>
            <td>Rp 328.350,-</td>
        </tr>
        <tr>
            <td>110</td>
            <td>4</td>
            <td>Rp 394.020,-</td>
        </tr>
        <tr>
            <td>125</td>
            <td>5</td>
            <td>Rp 1.393.700,-</td>
        </tr>
        <tr>
            <td>160</td>
            <td>6</td>
            <td>Rp 1.587.850,-</td>
        </tr>
    </tbody>
</table>