<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Flange Adapter / Stub End</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 30.690,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 56.100,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 57.860,-</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2</td>
            <td>Rp 129.470,-</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3</td>
            <td>Rp 198.440,-</td>
        </tr>
        <tr>
            <td>110</td>
            <td>4</td>
            <td>Rp 248.270,-</td>
        </tr>
        <tr>
            <td>125</td>
            <td>5</td>
            <td>Rp 689.260,-</td>
        </tr>
        <tr>
            <td>160</td>
            <td>6</td>
            <td>Rp 935.660,-</td>
        </tr>
    </tbody>
</table>