<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Straight Way Valve / Gate Valve</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>mm</td>
            <td>inch</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>1/2″</td>
            <td>Rp 120.670</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4″</td>
            <td>Rp 193.270</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1″</td>
            <td>Rp 271.920</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4″</td>
            <td>Rp 410.080</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2″</td>
            <td>Rp 496.980</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2″</td>
            <td>Rp 862.510</td>
        </tr>
    </tbody>
</table>