<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">REDUCER MALE / FEMALE (Male Connection : need Coupler)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2"></td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
        <tr>
            <td>25×20</td>
            <td>3/4 x 1/2</td>
            <td>Rp 4.950,-</td>
        </tr>
        <tr>
            <td>32×20</td>
            <td>1 x 1/2</td>
            <td>Rp 6.930,-</td>
        </tr>
        <tr>
            <td>32×25</td>
            <td>1 x 3/4</td>
            <td>Rp 8.910,-</td>
        </tr>
        <tr>
            <td>40×20</td>
            <td>1 1/4 x 1/2</td>
            <td>Rp 13.090,-</td>
        </tr>
        <tr>
            <td>40×25</td>
            <td>1 1/4 x 3/4</td>
            <td>Rp 13.090,-</td>
        </tr>
        <tr>
            <td>40×32</td>
            <td>1 1/4 x 1</td>
            <td>Rp 15.510,-</td>
        </tr>
        <tr>
            <td>50×25</td>
            <td>1 1/2 x 3/4</td>
            <td>Rp 35.970,-</td>
        </tr>
        <tr>
            <td>50×32</td>
            <td>1 1/2 x 1</td>
            <td>Rp 23.430,-</td>
        </tr>
        <tr>
            <td>50×40</td>
            <td>1 1/2 x 1 1/4</td>
            <td>Rp 23.430,-</td>
        </tr>
        <tr>
            <td>*63×25</td>
            <td>2 x 3/4</td>
            <td>Rp 58.190,-</td>
        </tr>
        <tr>
            <td>63×32</td>
            <td>2 x 1</td>
            <td>Rp 23.430,-</td>
        </tr>
        <tr>
            <td>63×40</td>
            <td>2 x 1 1/4</td>
            <td>Rp 40.480,-</td>
        </tr>
        <tr>
            <td>63×50</td>
            <td>2 x 1 1/2</td>
            <td>Rp 40.480,-</td>
        </tr>
        <tr>
            <td>75×40</td>
            <td>2 1/2 x 1 1/4</td>
            <td>Rp 184.910,-</td>
        </tr>
        <tr>
            <td>75×50</td>
            <td>2 1/2 x 1 1/2</td>
            <td>Rp 79.750,-</td>
        </tr>
        <tr>
            <td>75×63</td>
            <td>2 1/2 x 2</td>
            <td>Rp 68.420,-</td>
        </tr>
        <tr>
            <td>90×63</td>
            <td>3 x 2</td>
            <td>Rp 91.190,-</td>
        </tr>
        <tr>
            <td>90×75</td>
            <td>3 x 2 1/2</td>
            <td>Rp 103.620,-</td>
        </tr>
        <tr>
            <td>110×75</td>
            <td>4 x 2 1/2</td>
            <td>Rp 194.040,-</td>
        </tr>
        <tr>
            <td>110×90</td>
            <td>4 x 3</td>
            <td>Rp 241.670,-</td>
        </tr>
        <tr>
            <td>125×110</td>
            <td>5 x 4</td>
            <td>Rp 855.470,-</td>
        </tr>
        <tr>
            <td>160×125</td>
            <td>6 x 5</td>
            <td>Rp 876.810,-</td>
        </tr>
    </tbody>
</table>