<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Female Thread Joint (Socket Drat Dalam)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20 x 20</td>
            <td>1/2</td>
            <td>Rp 31.350,-</td>
        </tr>
        <tr>
            <td>20 x 25</td>
            <td>1/2 x 3/4</td>
            <td>Rp 45.870,-</td>
        </tr>
        <tr>
            <td>25 x 20</td>
            <td>3/4 x 1/2</td>
            <td>Rp 33.880,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 41.470,-</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 87.230,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 233.200,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 237.820,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 435.490,-</td>
        </tr>
    </tbody>
</table>