<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Male Thread Joint (Socket Drat Luar)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20 x 20</td>
            <td>1/2</td>
            <td>Rp 40.150,-</td>
        </tr>
        <tr>
            <td>20 x 25</td>
            <td>1/2 x 3/4</td>
            <td>Rp 60.830,-</td>
        </tr>
        <tr>
            <td>25 x 20</td>
            <td>3/4 x 1/2</td>
            <td>Rp 40.370,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 56.430,-</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 104.390,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 199.980,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 314.820,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 478.170,-</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2</td>
            <td>Rp 882.310,-</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3</td>
            <td>Rp 1.382.810,-</td>
        </tr>
    </tbody>
</table>