<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Metal Reducer With Cap &amp; Nut</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20 x 20</td>
            <td>1/2</td>
            <td>Rp 49.170,-</td>
        </tr>
        <tr>
            <td>20 x 25</td>
            <td>1/2 x 3/4</td>
            <td>Rp 69.850,-</td>
        </tr>
        <tr>
            <td>20 x 32</td>
            <td>1/2 x 1</td>
            <td>Rp 146.960,-</td>
        </tr>
        <tr>
            <td>25 x 32</td>
            <td>3/4 x 1</td>
            <td>Rp 146.960,-</td>
        </tr>
        <tr>
            <td>32 x 40</td>
            <td>1 x 1 1/4</td>
            <td>Rp 304.590,-</td>
        </tr>
    </tbody>
</table>