<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Cap / Dop</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>mm</td>
            <td>inch</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>1/2″</td>
            <td>Rp 6.300</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4″</td>
            <td>Rp 8.700</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1″</td>
            <td>Rp 12.000</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4″</td>
            <td>Rp 30.000</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2″</td>
            <td>Rp 46.000</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2″</td>
            <td>Rp 77.000</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2″</td>
            <td>Rp 142.100</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3″</td>
            <td>Rp 170.600</td>
        </tr>
        <tr>
            <td>110</td>
            <td>4″</td>
            <td>Rp 314.000</td>
        </tr>
        <tr>
            <td>160</td>
            <td>6″</td>
            <td>Rp 935.900</td>
        </tr>
    </tbody>
</table>