<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Reducing Elbow 90°</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>25 x 20</td>
            <td>3/4 x 1/2</td>
            <td>Rp 16.000,-</td>
        </tr>
        <tr>
            <td>32 x 20</td>
            <td>1 x 1/2</td>
            <td>Rp 28.000,-</td>
        </tr>
        <tr>
            <td>32 x 25</td>
            <td>1 x 3/4</td>
            <td>Rp 30.000,-</td>
        </tr>
    </tbody>
</table>