<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Flange Adapter / Stub End</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 80.000,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 135.000,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 193.000,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 246.000,-</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2</td>
            <td>Rp 290.000,-</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3</td>
            <td>Rp 322.000,-</td>
        </tr>
        <tr>
            <td>110</td>
            <td>4</td>
            <td>Rp 415.000,-</td>
        </tr>
        <tr>
            <td>160</td>
            <td>6</td>
            <td>Rp 1.180.000,-</td>
        </tr>
    </tbody>
</table>