<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Flange Besi</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 350.000,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 390.000,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 450.000,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 490.000,-</td>
        </tr>
        <tr>
            <td>75</td>
            <td>2 1/2</td>
            <td>Rp 530.000,-</td>
        </tr>
        <tr>
            <td>90</td>
            <td>3</td>
            <td>Rp 630.000,-</td>
        </tr>
        <tr>
            <td>110</td>
            <td>4</td>
            <td>Rp 700.000,-</td>
        </tr>
        <tr>
            <td>160</td>
            <td>6</td>
            <td>Rp 880.000,-</td>
        </tr>
    </tbody>
</table>