<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Plug (Dop Drat Luar)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>1/2</td>
            <td>Rp 9.000,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 11.200,-</td>
        </tr>
    </tbody>
</table>