<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Female Thread Joint (Socket Drat Dalam)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20 x 20</td>
            <td>1/2</td>
            <td>Rp 50.000,-</td>
        </tr>
        <tr>
            <td>25 x 20</td>
            <td>3/4 x 1/2</td>
            <td>Rp 60.000,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 70.000,-</td>
        </tr>
        <tr>
            <td>32 x 25</td>
            <td>1 x 3/4</td>
            <td>Rp 92.000,-</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 145.000,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 285.000,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 338.000,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 487.000,-</td>
        </tr>
    </tbody>
</table>