<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Female Threaded Tee (Tee Drat Dalam)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20 x 20</td>
            <td>1/2</td>
            <td>Rp 124.000,-</td>
        </tr>
        <tr>
            <td>25 x 20</td>
            <td>3/4 x 1/2</td>
            <td>Rp 147.000,-</td>
        </tr>
        <tr>
            <td>25 x 25</td>
            <td>3/4</td>
            <td>Rp 177.000,-</td>
        </tr>
        <tr>
            <td>32 x 25</td>
            <td>1 x 3/4</td>
            <td>Rp 189.000,-</td>
        </tr>
        <tr>
            <td>32 x 32</td>
            <td>1</td>
            <td>Rp 316.000,-</td>
        </tr>
    </tbody>
</table>