<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Reducing Tee</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>25 x 20 x 25</td>
            <td>3/4 x 1/2 x 3/4</td>
            <td>Rp 16.000,-</td>
        </tr>
        <tr>
            <td>32 x 20 x 32</td>
            <td>1 x 1/2 x 1</td>
            <td>Rp 22.000,-</td>
        </tr>
        <tr>
            <td>32 x 25 x 32</td>
            <td>1 x 3/4 x 1</td>
            <td>Rp 22.000,-</td>
        </tr>
        <tr>
            <td>40 x 20 x 40</td>
            <td>1 1/4 x 1/2 x 1 1/4</td>
            <td>Rp 51.000,-</td>
        </tr>
        <tr>
            <td>40 x 25 x 40</td>
            <td>1 1/4 x 3/4 x 1 1/4</td>
            <td>Rp 51.000,-</td>
        </tr>
        <tr>
            <td>40 x 32 x 40</td>
            <td>1 1/4 x 1</td>
            <td>Rp 51.000,-</td>
        </tr>
        <tr>
            <td>50 x 20 x 50</td>
            <td>1 1/2 x 1/2 x 1 1/2</td>
            <td>Rp 82.000,-</td>
        </tr>
        <tr>
            <td>50 x 25 x 50</td>
            <td>1 1/2 x 3/4 x 1 1/2</td>
            <td>Rp 82.000,-</td>
        </tr>
        <tr>
            <td>50 x 32 x 50</td>
            <td>1 1/2 x 1 x 1 1/2</td>
            <td>Rp 82.000,-</td>
        </tr>
        <tr>
            <td>50 x 40 x 50</td>
            <td>1 1/2 x 1 1/4 x 1 1/2</td>
            <td>Rp 82.000,-</td>
        </tr>
        <tr>
            <td>63 x 20 x 63</td>
            <td>2 x 1/2 x 2</td>
            <td>Rp 116.000,-</td>
        </tr>
        <tr>
            <td>63 x 25 x 63</td>
            <td>2 x 3/4 x 2</td>
            <td>Rp 116.000,-</td>
        </tr>
        <tr>
            <td>63 x 32 x 63</td>
            <td>2 x 1 x 2</td>
            <td>Rp 116.000,-</td>
        </tr>
        <tr>
            <td>63 x 40 x 63</td>
            <td>2 x 1 1/4 x 2</td>
            <td>Rp 116.000,-</td>
        </tr>
        <tr>
            <td>63 x 50 x 63</td>
            <td>2 x 1 1/2 x 2</td>
            <td>Rp 116.000,-</td>
        </tr>
        <tr>
            <td>75 x 32 x 75</td>
            <td>2 1/2 x 1 x 2 1/2</td>
            <td>Rp 340.000,-</td>
        </tr>
        <tr>
            <td>75 x 40 x 75</td>
            <td>2 1/2 x 1 1/4 x 2 1/2</td>
            <td>Rp 340.000,-</td>
        </tr>
        <tr>
            <td>75 x 50 x 75</td>
            <td>2 1/2 x 1 1/2 x 2 1/2</td>
            <td>Rp 340.000,-</td>
        </tr>
        <tr>
            <td>75 x 63 x 75</td>
            <td>2 1/2 x 2 x 2 1/2</td>
            <td>Rp 340.000,-</td>
        </tr>        
        <tr>
            <td>90 x 40 x 90</td>
            <td>3 x 1 1/4 x 3</td>
            <td>Rp 760.000,-</td>
        </tr>      
        <tr>
            <td>90 x 50 x 90</td>
            <td>3 x 1 1/2 x 3</td>
            <td>Rp 790.000,-</td>
        </tr>      
        <tr>
            <td>90 x 63 x 90</td>
            <td>3 x 2 x 3</td>
            <td>Rp 790.000,-</td>
        </tr>      
        <tr>
            <td>90 x 75 x 90</td>
            <td>3 x 2 1/2 x 3</td>
            <td>Rp 790.000,-</td>
        </tr>              
        <tr>
            <td>110 x 32 x 110</td>
            <td>4 x 1 x 4</td>
            <td>Rp 1.140.000,-</td>
        </tr>              
        <tr>
            <td>110 x 50 x 110</td>
            <td>4 x 1 1/2 x 4</td>
            <td>Rp 1.140.000,-</td>
        </tr>              
        <tr>
            <td>110 x 63 x 110</td>
            <td>4 x 2 x 4</td>
            <td>Rp 1.140.000,-</td>
        </tr>                      
        <tr>
            <td>110 x 75 x 110</td>
            <td>4 x 2 1/2 x 4</td>
            <td>Rp 1.220.000,-</td>
        </tr>           
        <tr>
            <td>110 x 90 x 110</td>
            <td>4 x 3 x 4</td>
            <td>Rp 1.220.000,-</td>
        </tr>           
        <tr>
            <td>160 x 110 x 160</td>
            <td>6 x 4 x 6</td>
            <td>Rp 1.960.000,-</td>
        </tr>
    </tbody>
</table>