<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Watermur Socket</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20</td>
            <td>1/2</td>
            <td>Rp 40.000,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 50.000,-</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 70.000,-</td>
        </tr>
    </tbody>
</table>