<table class="table table-bordered table-hover center">
    <thead>
        <tr>
            <td colspan="3">Watermur Drat Luar (Male Threaded Union)</td>
        </tr>
        <tr>
            <td colspan="2">Ukuran</td>
            <td rowspan="2">Harga</td>
        </tr>
        <tr>
            <td>(mm)</td>
            <td>(inch)</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>20</td>
            <td>1/2</td>
            <td>Rp 176.000,-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>3/4</td>
            <td>Rp 240.000,-</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 354.000,-</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1 1/4</td>
            <td>Rp 744.000,-</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1 1/2</td>
            <td>Rp 1.175.000,-</td>
        </tr>
        <tr>
            <td>63</td>
            <td>2</td>
            <td>Rp 1.680.000,-</td>
        </tr>
    </tbody>
</table>