{{ partial "header-default" . }}
<div class="section section-about section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h1>Hubungi Kami</h1>
                <h3>Sales: 0813 8125 3138 (WA/Call)</h3>
                <p>Ruko Boulevard Tekno Blok D No.1. Jl. Tekno Widya BSD Sektor XI Kel. Setu, Kec. Setu. Tangerang Selatan.
                    Banten
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.7471686148986!2d106.67839179047024!3d-6.329935780882062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e51c2b69f84d%3A0xc33add3ba1ae1658!2sRuko+Boulevard+Tekno%2C+Jl.+Tekno+Widya%2C+Setu%2C+Kota+Tangerang+Selatan%2C+Banten+15314!5e0!3m2!1sid!2sid!4v1534756260802"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{{ partial "footer" . }}